.navbar {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  gap: 40px;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.btn {
  background: #3cb24a;
  padding: 12px 22px;
  border: none; 
  border-radius: 8px;
  color: white;
  font-size: 15px; 
  font-weight: 600;
  cursor: pointer;
}



