.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.text-light-green {
    color: #90ee90;
}
.bg-light-green {
    background-color: #90ee90;
}
.font-archivo {
    font-family: 'Archivo', sans-serif;
}
  
  
  
  